# Jobs Dataset Programming Language Analysis

Using the Amazon Jobs Dataset to find out which programming language has the most number of job openings for Undergrads in India.

Problem Statement : Among Java, C++ and Python, which of the language has more job openings in India for Bachelor Degree Holder? Print the Language (i.e Java, C++, Python) and number of job opening as integer value.

Note: Here we will use the BASIC QUALIFICATIONS feature to find out whether bachelor degree for Job is required or not. Keywords that can be used are 'Bachelor', 'BS' and 'BA' and we will use the BASIC QUALIFICATIONS feature to find out whether Language is required for the job or not. Keywords that is used for language searching are 'Java', 'C++' or 'Python'.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('data/amazon_jobs_dataset.csv')
print(data.shape)
data.head(2)

(3493, 7)

,Unnamed: 0,Title,location,Posting_date,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS
0,0,Software Development Manager,"US, WA, Seattle","March 1, 2018",You are an experienced hands-on manager with a...,· Proven track record of hiring and managing h...,· Experience building extremely high volume an...
1,1,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...

In [3]:
data.drop(data.columns[[0]], axis = 1, inplace = True) 
data.head(2)

,Title,location,Posting_date,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS
0,Software Development Manager,"US, WA, Seattle","March 1, 2018",You are an experienced hands-on manager with a...,· Proven track record of hiring and managing h...,· Experience building extremely high volume an...
1,Software Development Engineer,"IN, KA, Bangalore","March 1, 2018",Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...

In [4]:
data[['Country','State', 'City']] = data.location.str.split(",",expand=True)
data = data[data['Country']=='IN']
data.drop(['location', 'Country', 'State', 'City', 'Posting_date'], axis = 1, inplace = True)
data.head(2)

,Title,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS
1,Software Development Engineer,Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...
2,Software Development Engineer,Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...

In [5]:
data = data[data['BASIC QUALIFICATIONS'].str.contains("Bachelor|BS|BA")==True]
data.head(2)

,Title,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS
1,Software Development Engineer,Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...
2,Software Development Engineer,Amazon is driven by being “the world’s most cu...,· Bachelor’s Degree in Computer Science or rel...,· Experience building complex software systems...

In [6]:
java = data[data['BASIC QUALIFICATIONS'].str.contains("Java")]
python = data[data['BASIC QUALIFICATIONS'].str.contains("Python")]
cpp = data[data['BASIC QUALIFICATIONS'].str.contains(re.escape("C++"))]

In [8]:
bachelorJobsIndiaData_byLang = [['Java', java.shape[0]], 
                         ['Python', python.shape[0]], 
                         ['C++', cpp.shape[0]]] 

bachelorJobsIndia_byLang = pd.DataFrame(bachelorJobsIndiaData_byLang, 
                                        columns = ['Language', 'Number of Jobs']) 

bachelorJobsIndia_byLang

  Language  Number of Jobs
0     Java             103
1   Python              30
2      C++              70